<!DOCTYPE html>
<html>
  <head>
    <title>SpaceGear</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    
    <%= javascript_include_tag 'application' %>

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  </head>


  <script type="text/javascript">
    window.mainLogo = "<%= image_url('logos/mainLogo.png') %>";
 

    // mens' tshirts
    window.placeholder = "<%= image_url('products/placeholder.jpg') %>"


    window.productImages = {
      mainLogo:  "<%= image_url('logos/spacegear_logo.png') %>",
      mainLogoBlack: "<%= image_url('logos/mainLogoBlack.png') %>",
      profileLogo: "<%= image_url('logos/profileLogo.png') %>",
  
      placeholder: "<%= image_url('products/placeholder.jpg') %>",
      kidsdragontshirt: "<%= image_url('products/kidsdragontshirt.png') %>",
      kidsf9tshirt: "<%= image_url('products/kidsf9tshirt.png') %>",
      kidsonesie: "<%= image_url('products/kidsonesie.png') %>",
      kidsstarmanpullover: "<%= image_url('products/kidsstarmanpullover.png') %>",
      mensbomberjacket: "<%= image_url('products/mensbomberjacket.png') %>",
      mensdragontshirtlong: "<%= image_url('products/mensdragontshirtlong.png') %>",
      mensstarman: "<%= image_url('products/mensstarman.png') %>",
      unisextrackjacket: "<%= image_url('products/unisextrackjacket.png') %>",
      womensbomberjacket: "<%= image_url('products/womensbomberjacket.png') %>",
      womensisssweatshirt: "<%= image_url('products/womensisssweatshirt.png') %>",
      womensoccupymarstshirt: "<%= image_url('products/womensoccupymarstshirt.png') %>",
      womensstarman: "<%= image_url('products/womensstarman.png') %>",
      splashImage: "<%= image_url('splash/astronaut.jpg') %>",

    }
  </script>

  <body class="main-body">
    <%= yield %>
  </body>

  <footer id="main-footer">
    <div class="inner-footer">
      <a href="https://linkedin.com/in/thomas-cheung-38953034" class="link-tags"><div class="footer-links">LinkedIn</div></a>
      <a href="https://github.com/tom-cheung" class="link-tags"><div class="footer-links">Github</div></a>
      <!-- <a href="" class="link-tags"><div class="footer-links">Profile</div></a> -->
      <a href="https://powerful-reef-66760.herokuapp.com/" class="link-tags"><div class="footer-links">Tom's Planetarium</div></a>
      <a href="https://tbdeveloped1.herokuapp.com/#/" class="link-tags"><div class="footer-links">TBDeveloped</div></a>
    </div>
  </footer>

</html>

<!-- the logic with current_user is so that if there is a current_user / user logged in then it creates a 
  window object which also is available to your entry file... 


      <% if current_user %> 
      <script>
        window.currentUser = {
          'id': <%= current_user.id %>,
          'email': '<%= current_user.email %>'
        }
      </script>
    <% end %>


-->